<h1>Viara</h1>

<p>Bracia, Rodacy, Polacy. Nadszedl czas zjednoczenia, odrzucenia wasni i klutni. Polska znalazla sie w sytuacji trudnej. 
Musimy sie zjednoczyc!. Jestesmy sympatykami Konfederacji. Obserwujac sile z jakas TVP stara sie ich cenzurowac, doszlismy do wniosku, zjednoczenia
ze wlasnie ich bedziemy popiera.</p>

<p>Gromadzimy sie tu aby stworzyc struktury i sie lepiej zorganizowac, jest to nasz kanal komunikacji.</p>

<p>Wszystko jest tworzone i oplacane przez ludzi dobrej woli, lacznie z utrzymaniem serwerow.</p>

<p>Wesprzyj nas:</p>

<ul>
  <li>Patronite</li>
  <li>Paypal</li>
  <li>PayU</li>
  <li>Bitcoin</li>
</ul>